@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");

body {
  font-family: "Lexend", sans-serif;
}

#donation-btn:hover {
    background-color: #b4f461;
    cursor: pointer;
  }
  #history-btn:hover {
    background-color: #b4f461;
    cursor: pointer;
  }